.hr {
  position: relative;
  width: 50px;
  top: 20px;
  border: none;
  height: 7px;
  background: darkblue;
  margin-bottom: 50px;
}
.content {
  text-align: center;
  font-family: 'Arial Unicode MS';
  color: darkblue;
  font-size: 20px;
}
