<div class="container" align="center">
  <h1 class="font-weight-bolder">Getting Started</h1>
</div>
<div class="container">
  <mdb-card>
    <mdb-card-body>
      <hr class="hr" />
      <mdb-card-text>
        <ol>
          <li class="h5 font-weight-bold">
            <h5>Create a new project.</h5>
            <div>
              <img src="../../../content/images/demo/1.png" class="container" />
            </div>
            <br />
            <div>
              <img src="../../../content/images/demo/2.png" class="container" />
            </div>
          </li>
          <br />
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">Upload the model (Geometry)</h5>
            <div>
              <img src="../../../content/images/demo/3.png" class="container" />
            </div>
            <br />
            <div>
              <img src="../../../content/images/demo/4.png" class="container" />
            </div>
          </li>
          <br />
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">Click on the run button to submit the job.</h5>
            <div>
              <img src="../../../content/images/demo/5.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">Enter mesh details for running the job.</h5>
            <div>
              <img src="../../../content/images/demo/6.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">
              Once the job have been successfully placed, one will be able to get the status of their job from job branch
            </h5>
            <div>
              <img src="../../../content/images/demo/7.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">
              On successful completion of a job, one will see the processed mesh in the respective branch. Select any particular mesh to
              render the result on the screen.
            </h5>
            <div>
              <img src="../../../content/images/demo/8.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">
              Click on the download button from the toolbar to download the mesh in any of the available formats.
            </h5>
            <div>
              <img src="../../../content/images/demo/9.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">To refresh the job status, model and mesh, click on the refresh button in the toolbar.</h5>
            <div>
              <img src="../../../content/images/demo/10.png" class="container" />
            </div>
            <br />
          </li>
          <li class="h5 font-weight-bold">
            <h5 class="font-weight-normal">
              To delete any particular models, mesh or to stop the running job select that node and click on delete button.
            </h5>
            <div>
              <img src="../../../content/images/demo/11.png" class="container" />
            </div>
            <br />
          </li>
        </ol>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
