<div class="container" align="center">
  <h1 class="font-weight-bolder">About Us</h1>
</div>
<br />
<div class="container-fluid">
  <mdb-card>
    <mdb-card-body>
      <hr class="hr" />
      <mdb-card-text>
        <p class="content">
          Pointbasis is an engineering software development and services company. We help companies to develop better products by leveraging
          our technology expertise and software solutions. Our services offering include consulting, software development, quality
          assurance, engineering simulation, and high-performance cloud computing. We’ve built engineering software solutions on various
          platforms like desktop, web, and cloud for engineering software and manufacturing companies.
        </p>
        <p class="content">Let’s discuss how we can help you solve your product development challenges.</p>
      </mdb-card-text>
    </mdb-card-body>
  </mdb-card>
</div>
